* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif !important;
}
header {
    width: 100%;
    height: 50px;
    background-color: black;
}
.header a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
    margin-right: 10px;
    line-height: 50px;
    padding-bottom: 7px;
}
.header a:hover {
    text-decoration: none;
    color: whitesmoke;
    border-bottom: 5px solid green;
}

span a:hover {
    border: none;
}
.header {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    word-spacing: -1px;
    font-size: 20px;
    padding-right: 10px;
    margin-left: 400px;
    margin-right: auto;
}
.header span {
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.header input {
    float: right;
}
#myBtn {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 20px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

div.user-input {
    width: 65%;
}
div.user-input input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    height: 40px;
    color: grey;

}
div.shopping-cart {
    width: 30%;
}
.checkout-name {
    width: 380px;
    margin-right: 15px;
}
.checkout-number {
    width: 250px;
    
}
.checkout-address {
    width: 100%;
}
.checkout-note {
    width: 100%;
}


div.shopping-cart div {
    margin-bottom: 10px;
    
}
div.item-name {
    font-weight: bold;
    font-size: 18px;
}
.price-total, .shipping {
    display: flex;
    justify-content: space-between;
}
.button {
    background-color: green;
    color: white;
    text-transform: uppercase;
    height: 40px;

}
#item-price {
    float: right;
}
#promo {
    width: 250px;
    padding-left: 20px;
    background:white;
    color: black;
}
#apply{
    margin-left: -15px;
    
    width: 100px;
    border: none;
    
}
.payment {
    margin-left: 15px;
    padding-left: 10px;
}
#checkout-button {
    text-transform: uppercase;
    width: 100%;
    border: none;
}
span#number{
    margin-right: 5px;
}
#plus, #minus {
    width: 16px;
    line-height: 16px;
    border-radius: 50%;
    color: black;
    background-color: #fff;
    margin-right: 5px;
    font-weight: normal;
    border: 1px solid green;
    font-size: 12px;
}
footer {
    position: fixed;
    bottom: 0;
    
    width: 100%;
    height: 300px;
    background-color: black;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid green;
}
.footer {
    margin-left: 400px;
    margin-top: 30px;
}
.footer p, .support p {
    margin-bottom: 2px;
    font-weight: 100;
}
.footer1, .footer2, .footer3 {
    width: 33%;
    color: white;
}