*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  body {
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
  }
  
  #tenquan {
    height: 100px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    background-color: darkgoldenrod;
  }
  #main {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .menu-tab {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
    height: 350px;
    background-color: rgb(0, 238, 255);
    margin-left: 10%;
    position: sticky;
    top: 0;
  }
  .menu-link {
    width: 70%;
    margin-left: 15%;
    margin-bottom: -5%;
    text-decoration: none;
  }
  .main-menu {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: cornflowerblue;
  }
  
  #out {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 5%;
  
  }
  .flex {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  
  #myBtn {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 20px;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: initial !important;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
   
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
   
  /* The Close Button */
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
   
  }
  .span1 {
    display: none ;
  }
   
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
   
  div.user-input {
    width: 50%;
    height: auto;
    margin-right: 30px;
    margin-left: 15px;
  }
  div.user-input input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    height: 40px;
    color: grey;
  }
  div.shopping-cart {
    width: 40%;
    margin-left: 15px;
  }
  .checkout-name {
    width: 60%;
  }
  .checkout-number {
    width: 39%;
  }
  .checkout-address {
    width: 100%;
  }
  .checkout-note {
    width: 100%;
  }
   
  div.shopping-cart div {
    margin-bottom: 10px;
  }
  .price-total,
  .shipping {
    display: flex;
    justify-content: space-between;
  }
  .button {
    background-color: green;
    color: white;
    text-transform: uppercase;
    height: 40px;
  }
  #item-price {
    float: right;
  }
  #promo {
    width: 70%;
    padding-left: 20px;
    background: white;
    color: black;
    border: none;
    background-color: #f1f1f2;
  }
  #apply {
    /* margin-left: ; */
    width: 30%;
    margin-left: -5px;
    border: none;
  }
  .cursor {
    cursor: pointer;
  }
  .paying {
    margin-left: 15px;
    margin-top: -100px;
    width: 60%;
  }
  .payment {
    display: flex;
    flex-wrap: wrap;
  }
  .payment-name1 {
    margin-right: 40px;
  }
   
  #checkout-button {
    text-transform: uppercase;
    width: 100%;
    border: none;
  }
  span#number {
    margin-right: 5px;
  }
  #plus,
  #minus {
    width: 16px;
    line-height: 16px;
    border-radius: 50%;
    color: black;
    background-color: #fff;
    margin-right: 5px;
    font-weight: normal;
    border: 1px solid green;
    font-size: 12px;
  }
  input:checked {
    background-color: green;
  }
  
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }
  .item-price,
  .item-number,
  .item-name {
    font-size: 13px;
    font-weight: 500;
    /* border: 1px solid black;line-height: 30px; */
  }
  .item-price,
  .item-name {
    width: 30%;
    height: 30px;
  }
  .item-number {
    width: 10%;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
  .item-price {
    text-align: center;
    line-height: 30px;
  }
  .item-name {
    text-align: left;
  }