*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
}

body{
    background-color: rgb(240, 236, 236);
}

#tenquan{
    width: 100%;
    height: 100px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    border: 1px solid black;
    margin-bottom: 30px;
    position: fixed;
    color: blue;
    top: 0;
    left: 0;
    background-color: cadetblue;
    z-index: 10;
}

#menu{
    display: flex; 
    flex-direction: row;
    
}

body {
    height: 1500px;
}

.tab-menu{
    width: 15%;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    position: fixed;
    top: 140px;
    left: 10px;
}

.tab-menu a {
    height: 25px;
    font-size: 16px;
    color: rgb(148, 98, 42);
    font-family: 'Times New Roman', Times, serif;
    text-align: start;
    line-height: 25px;
    text-decoration: none;
    margin-left: 20px;
}

.main-menu {
    width: 840px;
    display: flex;
    flex-direction: column;
    margin-left: 310px;
    border-left: inset;
    border-color: orange;
    padding-left: 25px;
    position: relative;
    top: 110px;
}

.item{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: orange;
    font-size: 30px;
}
.flex{
    
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.menu-item{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    width: 250px;
    height: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.anh{
    width: 250px;
    height: 250px;
}
.name{
    width: 250px;
    height: 40px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 15px;
    line-height: 40px;
    text-transform: uppercase;
}
.gia{
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-top: 5px;
    color: rgb(185, 32, 40);
    margin-left: 15px;
    line-height: 40px;
}
.datmua{
    font-size: 15px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-style: hidden;
    color: white;
    background-color: orange;
    line-height: 50px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
}
#anhgiohang{
    width: 60px;
    height: 60px;
    border-style: hidden;
    border-radius: 50%;
    position: fixed;
    top:140px;
    right: 50px; 
}

@media only screen and (max-width: 991px){
    #menu{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tab-menu{
        width: auto;
        height: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

#giohang {
    width: 22%;
    height: 70%;
    position: relative;
    right: 0;
    top: 200px;
    background-color: white;
}
.footer-giohang-1 {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.name-buy,
.gia-buy{
    /* text-transform: capitalize; */
    font-size: 15px;
}
.soluong-buy{
    width: 50px;
}
.fick-buy{
    display: flex;
    justify-content: space-between;
}
.thanhtien{
    margin-bottom: 20px;
}
#thanhtoan{
    position: absolute;
    right: 0;
    bottom: 0;
    
}
